.main-wrapper {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.rotating--icon {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is--scrolling {
  white-space: nowrap;
  will-change: transform;
  animation-name: is--scrolling;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes is--scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}
